<!DOCTYPE html>
<html>
    {% block head %}
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
       <!-- Scripts start -->
        <script src="{{ asset('bundles/app/js/jquery.min.js')}}"></script>
{% endblock %}
    <body>
        {% block bodycontent %}{% endblock bodycontent %}
        {% block javascripts %}{% endblock %}
    </body>
    {%block customjs %}
    {% endblock customjs %}
</html>
